@{
    ViewBag.Title = "Abstract Submit";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}

<div class="NotHome">
    <h2 class="header">
        Thanks for the submission
    </h2>
    <div class="col-md-12 txtctr">
        <label class="heading" style="color:red;font-size:14px">
            You will recieve a email very shortly confirming the same.
        </label>
    </div>
    <div id="over" style="">
        <img class="img-responsive" src="@Url.Content("~/Content/images/Abstract_Submit_FlowChart.png")" alt="slider"/>
    </div>
</div>
<script>
    $(document).ready(function () {
        processNoScroll();
    });
</script>