@using EventManagement.DataModels.Extensions;
@model IEnumerable<EventManagement.DataModels.TeamMemberDTO>
@{
    if (Model.Count() > 0)
    {
        <div id="conferenceTeam">
            <div class="container">

                <div class="row">
                    <div class="col-10">
                        <div id="keynotespeaker-carousel" class="carousel slide" data-interval="false">
                            <h2 class="header">KEYNOTE SPEAKERS</h2>
                            <button class="push-btn btn--sm flRt" onclick="redirect('@Url.Content("~/Conference/"+@ViewData["Conferencekey"]+ "/KeynoteSpeakers/")')"><text>View All</text></button>
                            <div class="carousel-inner">
                                @for (int i = 0; i <= Model.Count() / 4; i++)
                                {
                                    <div class="item @if (i == 0) { <text>active</text>} ">
                                        <div class="row">
                                            @{ var obj = Model.Skip(i * 4).Take(4);}
                                            @foreach (var mem in obj)
                                            {
                                                <div class="col-sm-3">
                                                    <div class="single-event pointer">
                                                        <img class="img-responsive userImg" src="@Url.Content(mem.ImageUrl)" alt="event-image">
                                                        <h4>@mem.Name</h4>
                                                        @{
                                                            string[] stringSeparators = new string[] { "[split]" };
                                                            var output = mem.Info.FormatString(stringSeparators);
                                                            for (var n = 0; n < output.Length; n++)
                                                            {
                                                                <h5 class="noTransform">
                                                                    @output[n]
                                                                </h5>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                            }
                                        </div>
                                    </div>
                                                            }
                            </div>
                        </div>
                    </div>
                    @if (Model.Count() > 4)
                    {
                    <!-- Left and right controls -->
                        <a class="left carousel-control" href="#keynotespeaker-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#keynotespeaker-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                </div>

            </div>
        </div>
    }
}
