
@{
    ViewBag.Title = "RegistrationFail";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}
<div class="NotHome">
    <h2 class="header">RegistrationFail</h2>
</div>

<script>
    $(document).ready(function () {
        processNoScroll();
    });
</script>