
@{
    ViewBag.Title = "RegistrationCancel";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}
<div class="NotHome">
<h2>RegistrationCancel</h2>
</div>
<script>
    $(document).ready(function () {
        processNoScroll();
    });
</script>