@model EventManagement.DataModels.RegistrationTypeDTO

<div class="col-12 col-md-12 col-sm-12">
    <div class="col-12 col-md-12 col-sm-12">
        @Html.DisplayFor(m => m.Name)
    </div>
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.Id)
</div>
