
<div class="regpolicy">

    <div class="row">
        <p class="sub"><strong>Note:</strong> Click on the linked heading text to expand or collapse accordion panels.</p>
    </div>
    <div class="panel-group " id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading panel-highlight" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h4 class="panel-title">
                    <a>REGISTRATION POLICY</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="sub">
                        <p class="q">A. AUTHOR REGISTRATION POLICY</p>
                        <div class="sub">
                            <p>It is mandatory for the authors to register at the full conference rates</p>

                            <p>An additional paper by the same author needs no additional registration</p>
                        </div>
                    </div>
                    <div class="sub">
                        <p class="q">B. DELEGATE REGISTRATION POLICY</p>
                        <div class="sub">
                            <p>It is mandatory for all the delegates to register at the full conference rates.</p>

                            <p>On spot registrations are open for delegates during the event. It is mandatory for such</p>

                            <p>registrants to pay 100% payment on the spot</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <h4 class="panel-title">
                    <a>REFUND POLICY</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="sub">
                        <p class="q">A. AUTHOR REFUND</p>
                        <div class="sub">
                            <p>In any case author is not eligible for a refund after the paper is included in online or offline proceedings of the conference. However, if the author withdraws the paper prior to the proceedings, the author is eligible for a 50% refund.</p>
                        </div>
                    </div>

                    <div class="sub">
                        <p class="q">B. DELLEGATE REFUND</p>

                        <div class="sub">
                            <p class="q">1. Full refund</p>

                            <p>All the delegates who cancel their registrations 60 days before the start of the conference are eligible for a complete refund of the registration fee.</p>
                        </div>

                        <div class="sub">
                            <p class="q">2. 50% refund</p>

                            <p>All the delegates who cancel their registrations after 60 days and before 45 days of the start of the conference are eligible for a refund of 50% of the registration fee.</p>
                        </div>

                        <div class="sub">
                            <p class="q">3. No refund</p>

                            <p>All the delegates who cancel their registrations after 30 days before the start of the conference are not eligible for any refund of the registration fee.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <h4 class="panel-title">
                    <a>REGISTRATION TRANSFER POLICY</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="sub">
                        <p>A. Authors are not eligible for transfer policy. However a replacement from the same organization can attend the conference on behalf of the author after registering afresh for the conference.</p>
                    </div>

                    <div class="sub">
                        <p>B. Delegates who are not able to attend the conference can transfer their conference fee to future conferences with Cognizance Scientific.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <h4 class="panel-title">
                    <a>EVENT CANCELLATION POLICY</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="sub">
                        <p><i class="fa fa-circle" aria-hidden="true"></i> In case of postponement or cancellation of the conference registered delegates and speakers are entitled for a full refund.</p>
                    </div>
                    <div class="sub">
                        <p><i class="fa fa-circle" aria-hidden="true"></i> Cognizance Scientific policy does not provide any additional refund for claims on air tickets or accommodation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                <h4 class="panel-title">
                    <a>MODE OF REFUND PAYMENT</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="sub">
                        <p><i class="fa fa-circle" aria-hidden="true"></i> In case of payments made through credit or debit cards, the refunds will be credited back into the same credit or debit card.</p>
                    </div>

                    <div class="sub">
                        <p><i class="fa fa-circle" aria-hidden="true"></i> In all other cases, a bank transfer will be made to the payee nominated account.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
