<div class="about-content">
    <div id="homeabout">
        <h2 class="header">About Us</h2>
        <p>
            Global Scientific Cognizance is a conference organizer which is focused on Clinical, Medical, Life

            Sciences, Engineering and Technology. We are nonprofit organization that promotes latest research,

            developments and issues in scientific community. Global Scientific Cognizance provides a platform to

            leading academic scientists, researchers and research scholars to exchange and share their experiences

            and research results about all aspects of Medical and Health Sciences.

            Global Scientific Cognizance aims to support research brilliance through networking platform and its

            mission is to encourage global communication, collaboration, promote professional interaction and

            lifelong learning; recognize outstanding contributions of individuals and organizations.

            Global Scientific Cognizance believes in Inclusiveness and affirmative actions.

            Global Scientific Cognizance also provides opportunity for industry community by
        </p><p>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Marketing to potential clients
        </p><p>

            <i class="fa fa-angle-double-right" aria-hidden="true"></i>  Keeping up to date with trends within your industry
        </p><p>

            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Bringing value back to your business
        </p><p>

            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Networking opportunities (B2B Meetings)
        </p><p>

            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Meeting industry experts
        </p><p>

            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Meeting new people
        </p>
        <div class="col-12">
            <div class="col-md-4">
                <div class="border">
                    <p class="q">
                        Who we are?
                    </p><p>
                        We provide a platform to enhance the progress of Medical, Science and Technology globally. Our

                        conferences agenda is to provide an international exposure to speakers, delegates and young

                        researchers through their research work and to enrich Scientific Community.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border">
                    <p class="q">
                        What we Do?
                    </p><p>
                        Our Conferences are about and for the people, we are building a reputation for generating and

                        delivering inspirational conferences and executing them immaculately first time round. We believe

                        on working hard to achieve the success.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border">
                    <p class="q">
                        Why GSC?
                    </p><p>
                        GSC conferences are organized globally. Participants will be gaining international exposure, meeting

                        expertise, enhancing skill and exploring new environment. GSC Provides Opportunity for Industry

                        Communities to expand their organization through B2B meetings, Exhibitions, Sponsorship. For the

                        betterment of our future generation scientific community GSC has generated a platform for young

                        researchers to share their work and to enrich their knowledge and skill.
                    </p>
                    @*<a href="#" class="btn btn-primary">View Date & Place <i class="fa fa-angle-right"></i></a>*@
                </div>
            </div>
        </div>
    </div>
</div>
