<div class="about-content post">
    <h2 class="header">Registration Policy</h2>
    <p class="q">
        Full Refunds
    </p><p>
        More than 60 days’ notice to receive a full refund, GSC must be receive request

        email no later than 60 days prior to the first day of the conference.
    </p><p class="q">
        Full Refunds
    </p><p>
        if the event is postponed due to any unavoidable/administrative reasons then registered

        participants will receive full refund that he/she has paid for the conference. Registered Author of the

        conference will not claim any other charges like Air Fare or Accommodation from the organizers.
    </p><p class="q">
        50% Refunds
    </p><p>
        Will be refunded prior 45 days to the conference
    </p><p class="q">
        No Refunds
    </p><p>
        Refund will not be granted between duration of 45 days of the conference
    </p><p class="q">

        Author Refunds
    </p><p>
        Authors who have their papers included in the proceedings are not eligible for a

        refund. Authors may receive a refund if they withdraw their papers before the paper is included in

        electronic or hard-copy proceedings.
    </p><p class="q">
        Registration Transfer
    </p><p>
        In case of busy scheduled, registered Participants can transfer their registration

        fee to future conferences or conferences with GSC.
    </p>
</div>