<div class="contact-section">
    <div id="googlemaps"></div>
    <div id="contactform">
        <p class="mapsPartBox">
        </p><div class="mapsPartTitle">CONTACT US</div>
        <div class="contactMail"><i class="fa fa-envelope" aria-hidden="true"> &nbsp;sc_admin@scientificcognizance.com</i></div>
        <div class="contactPhone"><i class="fa fa-phone" aria-hidden="true"> &nbsp;+91 7259422687</i></div>
        <div class="contactFax"><i class="fa fa-fax" aria-hidden="true"> &nbsp;Fax: - </i><br></div>
        <div class="contactHome"><i class="fa fa-building-o" aria-hidden="true"> &nbsp;<strong>Scientific Cognizance</strong></i><br></div>
        <div style="padding-left: 46px;">
            27 Old Gloucester Street,<br />
            LONDON,<br />
            WC1N 3AX,<br />
            UNITED KINGDOM
        </div>
        <p></p>
    </div>
    <script>
        var loc = { lat: 17.445374, long: 78.376735 }
        google.maps.event.addDomListener(window, 'load', showGoogleMaps(loc));
    </script>
</div>
