
@{
    ViewBag.Title = "SponsorExhibitor";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<section class="NotHome">
    <div class="txtpage">
        <div class="shout"><h1>Sponsorship - Exhibition</h1></div>
        <div>
            <p>Be a part of the Scientific Cognizance Conferences and Sponsor/Exhibitor at the event. We invite you to the world’s largest and most influential events which bring together more than 500 experts in the research field from more than 40 countries, representing the world’s top companies, Universities and Hospitals.</p>
            <p>We welcome Sponsorship and Exhibitions from the Companies and Organizations who wish to showcase their products at our exciting events. Scientific Cognizance Conferences provides an opportunity of networking with all the academicians, practitioners and delegates from reputed companies and top class Universities. Take advantage of the opportunity to be part of this event and advertise, exhibit or become a partner.</p>
            <p>We have put together a number of Sponsorship and Exhibitions packages which provides you widespread exposure over the conferences. We also welcome sponsorship of any sessions or activities such as welcome drinks, conference lunch, breaks and poster sessions in the conference program.</p>
            <p>Complete the form and send us your queries at <a href="mailto:sponsor@scientificcognizance.com">sponsor@scientificcognizance.com</a></p>
            <p>For more information about becoming an partner, exhibitor or advertiser, including rates and benefits, contact us at <a href="mailto:sponsor@scientificcognizance.com">sponsor@scientificcognizance.com</a></p>
        </div>
        <table cellspacing="2" cellpadding="0" width="100%">
            <tbody>
                <tr>
                    <th style="width:25%; text-align:center; background:#032920; color:#fff;">Sponsorship</th>
                    <th style="text-align:center; background:#032920; color:#fff;">Benefits</th>
                </tr>
                <tr>
                    <td style="text-align:center; padding-top:70px;"><strong>Platinum Sponsor</strong></td>
                    <td>
                        <ul>
                            <li>4 attendee passes</li>
                            <li>Opportunity to talk in the 20 min session, it is an excellent sales building exposure</li>
                            <li>Sponsor 2 Best Poster Awards</li>
                            <li>Company/Organization logo will be featured on the conference website, program and promotional material</li>
                            <li>Corporate logo on the front cover of the final proceedings</li>
                            <li>Full page advert inside the conference book</li>
                            <li>Companies brochure can be included in the conference kit</li>
                            <li>25% Discount on conference registration fee</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; padding-top:70px;"><strong>Gold Sponsor</strong></td>
                    <td>
                        <ul>
                            <li>3 attendee passes</li>
                            <li>Opportunity to talk in the 10 min session, it is an excellent sales building exposure</li>
                            <li>Company/Organization logo will be featured on the conference website, program and promotional material</li>
                            <li>Corporate logo on the front cover of the final proceedings</li>
                            <li>Sponsor one Best Poster Award</li>
                            <li>Full page advert inside the conference book</li>
                            <li>20% Discount on conference registration fee</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; padding-top:70px;"><strong>Silver Sponsor</strong></td>
                    <td>
                        <ul>
                            <li>2 attendee passes</li>
                            <li>Company/Organization logo will be featured on the conference website, program and promotional material</li>
                            <li>Sponsor one Best Poster Award</li>
                            <li>Corporate logo on the front cover of the final proceedings</li>
                            <li>Half page advert inside the conference book</li>
                            <li>10% Discount on conference registration fee</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;  padding-top:60px;"><strong>Exhibitor</strong></td>
                    <td>
                        <ul>
                            <li>1 Complimentary attendee pass</li>
                            <li>Company/Organization logo will be featured on the conference website, program and promotional material</li>
                            <li>Corporate logo on the front cover of the final proceedings</li>
                            <li>1/4 page advert inside the conference book</li>
                            <li>10% Discount on conference registration fee</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;  padding-top:15px;"><strong>Sponsor any session or activity</strong></td>
                    <td>
                        For any other sponsorship opportunities such as welcome drinks,
                        lunch, breaks, sessions, bag inserts, lanyard sponsor kindly mail us
                        at: <a href="mailto:sponsor@scientificcognizance.com">sponsor@scientificcognizance.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <h2 style="text-align:center;">Our mission is to connect you with the world's top class companies and experts.</h2>
        <p style="text-align:center;">Reserve your slots as soon as possible to be a part of Scientific Cognizance Conferences!!</p>
    </div>
</section>

