@model EventManagement.DataModels.ConferenceDTO
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_ConferenceLayout.cshtml";
}
<div>
    <div class="row" style="padding:0px 20px 20px 120px">
        <div>
            @foreach (var mem in Model.Team)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="col-md-3">
                            <div class="single-event pointer">
                                <img class="img-responsive" src="@Url.Content("~/Content/images/confteam/" + mem.ImageUrl)" alt="event-image">
                                <h4>@mem.Name</h4>
                                <h5>@mem.Info</h5>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @mem.Biography
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

