
@{
    ViewBag.Title = "Guidelines";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}

<div class="NotHome">
    <div class="blog-vers2 span8">
        <div class="blog-post span12">
            <div style="padding:5px;">
                <!-- Aout content-->
                <h3 class="head12">Guidelines</h3>
            </div>
            <p>The poster authors must present their work only in English. Under unavoidable</p>
            <p>circumstances authors who cannot communicate in English shall themselves arrange for</p>
            <p>translators.</p>
            <p> Authors must disclose on their poster whether the abstract has been previously published</p>
            <p>prior to the conference. If the abstract has been previously published, authors must indicate</p>
            <p>date and publication.</p>
            <p> In case an author is unable to attend the poster presentation, it is mandatory for a co-author</p>
            <p>or a colleague to be present on behalf of the author.</p>
            <p> There is no access to the poster area during the conference hours. The Exhibit hall is open</p>
            <p>only during the slots exclusively allotted for the poster presentations.</p>
            <p> All the poster boards will be pre numbered and the authors need to mount their posters on</p>
            <p>the correct board.</p>
            <p> Guests invited by the authors to attend the poster presentation must complete a guest</p>
            <p>registration. Unregistered guests are not permitted to attend the poster sessions.</p>
            <p> It is recommended to upload the poster before 3 days of conference start date.</p>
            <p> No videos will be recorded.</p>
            <p>BASIC POSTER REQUIREMENTS</p>
            <p> Poster Size: __________</p>
            <p> Poster orientation: Portrait/Landscape</p>
            <p> Poster Printing type: Vinyl Printing or something else</p>
            <p> Poster Presentation: as per the slot allocated to the poster author.</p>
            <p> Design of the Poster: concise, uncluttered, clear and readable from a distance</p>
            <p> Poster title size: 2.5 cm</p>
            <p> Usage of fonts: Arial, Times New Roman, Courier and Calibri</p>
            <p> Data Interpretation: charts, diagrams and graphical representation is advised</p>
            <p> Audio/ visual equipment: Not Permitted</p>
            <p>OTHER INSTRUCTIONS:</p>
            <p> The poster Authors must put up and take down their posters according to the slots</p>
            <p>allotted to the authors.</p>
            <p> Authors must place the title of the paper clearly at the top of the poster to enable the</p>
            <p>viewers to easily identify the paper.</p>
            <p> Authors must be prepared with an oral summary of the poster presentation.</p>
            <p> The posters must cover the content as the abstracts send by the authors.</p>
            <p> The poster authors must not leave any personal material under the poster boards or in</p>
            <p>the poster area.</p>
            <p> The authors are requested to bring their own push pins to mount the posters.</p>
            <p> Authors are advised to prepare all the diagram or charts neatly and legibly</p>
            <p>beforehand, in a size that can be read from a distance of 2 m.</p>
            <p> We do not accept any requests to change the presentation dates or times.</p>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        processNoScroll();
    });
</script>