
@{
    ViewBag.Title = "Guidelines";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}

<div class="NotHome">
    <div class="blog-vers2 span8">
        <div class="blog-post span12">
            <div style="padding:5px;">
                <!-- Aout content-->
                <h3 class="head12">Guidelines</h3>
                <p>
                    <strong>2nd  International Nursing Conference</strong> is an annual conference which is one of the  largest educational and scientific events in the Nursing. The program is well  designed by the conference committee which includes plenary lectures, oral  sessions, poster sessions and symposia/workshops.
                </p>
            </div>
            <!-- Aout content-->
            <!-- Unordered List-->
            <div class="main1 row-fluid">
                <div class="services span12">

                    <h3 class="head12">Target Audience:</h3>

                    <div class="span11">
                        <ol class="listdot">
                            <li>Doctors</li>
                            <li>Health       Professionals</li>
                            <li>Nurses</li>
                            <li>Researchers</li>
                            <li>Professors </li>

                        </ol>
                    </div>
                    <h3 class="head12">Abstract Submission Guidelines:</h3>
                    <div class="span11">
                        <ol class="listdot">
                            <li>Title       of the abstract must be in sentence case. The title must represent the       abstract content.</li>
                            <li>Name       of the author and co-authors (if present). You may list up to 20       individual authors for each abstract.</li>
                            <li>Provide       your full name, degree, institution, address, telephone number, and email       address. (Email address of the main author/presenter).</li>
                            <li>Abstract       content must not exceed 300 words. The body of the abstract should       describe your research, results and conclusions of your study.</li>
                            <li>A       short biography of 100 words of the main author/presenter must be included       along with abstract.</li>
                            <li>All       the abstracts must be submitted before the deadlines provided.</li>
                            <li>Abstract       will be reviewed by the committee and you will receive an e-mail       notification within 24-48 hours of abstract submission.</li>
                        </ol>
                    </div>

                </div>
            </div>
            <!-- Unordered List-->
            <div class="main1 row-fluid">
                <div class="services span12">
                    <p>
                        For the  sample template of the abstract, please <a href="downloads/abstract_template.docx">click here</a> (sample  abstract word document)<br>
                        Nursing-2017  Abstract Submissions starts from January 25th, 2017. All the abstracts should  be submitted through <a href="abstract-submission.php">online abstract submission</a> or can  be mailed at <a href="mailto:nursing@madridge.com">nursing@madridge.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>