
@{
    ViewBag.Title = "Guidelines";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}
<div class="NotHome">
    <div class="guidelines">
        <p class="sub"><strong>Note:</strong> Click on the linked heading text to expand or collapse accordion panels.</p>
        <div class="panel-group " id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading panel-highlight" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4 class="panel-title">
                        <a>POSTER PRESENTATION GUIDELINES</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="sub">
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> The poster authors must present their work only in English. Under unavoidable circumstances authors who cannot communicate in English shall themselves arrange for translators.
                            </p>
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> Authors must disclose on their poster whether the abstract has been previously published prior to the conference. If the abstract has been previously published, authors must indicate date and publication.
                            </p>
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> In case an author is unable to attend the poster presentation, it is mandatory for a co-author or a colleague to be present on behalf of the author.
                            </p>
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> There is no access to the poster area during the conference hours. The Exhibit hall is open only during the slots exclusively allotted for the poster presentations.
                            </p>
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> All the poster boards will be pre numbered and the authors need to mount their posters on the correct board.
                            </p>
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> Guests invited by the authors to attend the poster presentation must complete a guest registration. Unregistered guests are not permitted to attend the poster sessions.
                            </p>
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> It is recommended to upload the poster before 3 days of conference start date.
                            </p>
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i> No videos will be recorded.
                            </p>
                        </div>
                        <div class="sub">
                            <p class="q">
                                BASIC POSTER REQUIREMENTS
                            </p>
                            <div class="sub">
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Poster Size: 1x1 M long
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Poster orientation: Portrait/Landscape
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Poster Printing type: Vinyl Printing
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Poster Presentation: as per the slot allocated to the poster author.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Design of the Poster: concise, uncluttered, clear and readable from a distance
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Usage of fonts: Arial, Times New Roman, Courier and Calibri
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Data Interpretation: charts, diagrams and graphical representation is advised
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Audio/ visual equipment: Not Permitted
                                </p>
                            </div>
                        </div>
                        <div class="sub">
                            <p class="q">
                                OTHER INSTRUCTIONS:
                            </p>
                            <div class="sub">
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> The poster Authors must put up and take down their posters according to the slots allotted to the authors.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Authors must place the title of the paper clearly at the top of the poster to enable the viewers to easily identify the paper.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Authors must be prepared with an oral summary of the poster presentation.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> The posters must cover the content as the abstracts send by the authors.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> The poster authors must not leave any personal material under the poster boards or in the poster area.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> The authors are requested to bring their own push pins to mount the posters.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Authors are advised to prepare all the diagram or charts neatly and legibly beforehand, in a size that can be read from a distance of 1-2 m.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> We do not accept any requests to change the presentation dates or times.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4 class="panel-title">
                        <a>SPEAKER GUIDELINES</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="sub">
                            <p class="q">
                                SPEAKER BENEFITS
                            </p>
                            <p>
                                Our speakers are active stakeholders in some part of our industry. The biggest benefit in presenting at our conferences is to share experiences and network with your peers, and to interact with the most influential community of content management, digital marketing, and technology experts in the industry. Because of the high quality of our speakers, we promote our speakers and their backgrounds on our website and sometimes in press releases.
                            </p>
                            <div class="sub">
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> We are pleased to inform you that all accepted abstracts will be published in the respective Conference Series Ltd Conferences Journals. Accepted abstracts will be included in the conference proceedings which are to be distributed at the conference.
                                </p>
                            </div>
                        </div>
                        <div class="sub">
                            <p class="q">
                                SPEAKER REQUIREMENTS
                            </p>
                            <p>
                                As a speaker we ask that you:
                            </p>
                            <div class="sub">
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Provide a professional quality presentation that is on the agreed upon topic.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Stick to the time allocated for your presentation.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Bring own pointer during your presentation.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Provide your presentation to us in electronic form for distribution to the conference
                                </p>
                                <p>
                                    attendees before the conference begins.
                                </p>
                            </div>
                        </div>
                        <div class="sub">
                            <p class="q">
                                GUIDELINES
                            </p>
                            <div class="sub">
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Most presentations will be part of a conference session covering the same topic. Times for presentations can range from 20-45 minutes, but the vast majority are 20-30 minutes followed by 5-10 minutes of Q&amp;amp;A.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> If your presentation is supposed to be 20 minutes long, getting through 45 slides is almost impossible. A good rule of thumb for most people is 1 slide for every 3 minutes of presentation. The best thing to do is time you in advance!
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Make sure your slides are readable. In general, 24pt and up is usually safe to be readable by anyone.
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Ensure that you are in the conference room well in advance of the session in which you are speaking
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> Introduce yourself to the chairperson well in advance of the session
                                </p>
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i> The abstract submitting speaker should ensure that the abstract publication should been approved by all other co-authors.
                                </p>
                            </div>
                        </div>
                        <div class="sub">
                            <p class="q">
                                SPONSORS / Exhibitors Guidelines
                            </p>
                            <div class="sub">
                                <p>
                                    Our sponsors and exhibitors are a critical part of our events and high-value interactive environments at our events would not be possible without them. While we are pleased when we can include a sponsor or exhibitor representative as a conference speaker, a speaking slot is never guaranteed. All accepted presentations are based on the merit of the proposal, the individual speaker, the relevance of the topic, and a speaking slot being available.
                                </p>
                            </div>
                        </div>
                        <div class="sub">
                            <p class="q">
                                DEADLINES
                            </p>
                            <div class="sub">
                                <p>
                                    It is always a good idea to submit proposals well in advance of the deadline. We will still accept proposals after that date just in case any relevant openings become available.
                                </p>
                                <p>
                                    The deadline for submitting proposals for the Conference is xxxxx.
                                </p>
                                <p>
                                    We always receive many more excellent proposals than we can fit into our program. Please do not be discouraged if you are not selected. We do multiple events, and may be able to fit your presentation into another conference.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        processNoScroll();
    });
    $('.panel-heading').click(function () {
        $.each($('.panel-heading'), function () {
            $(this).removeClass('panel-highlight');
        });
        $(this).addClass('panel-highlight');
    })
</script>