@model EventManagement.DataModels.ConferenceDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ConferenceLayout.cshtml";
}

<section id="home">
    @{ Html.RenderAction("PartialHome", "Conference", new { images = Model.ImageUrls }); }
</section>

<section id="venue">
    @{ Html.RenderAction("PartialVenue", "Conference", new { venue = Model.Venue }); }
</section>