@using EventManagement.DataModels.Extensions;

@model EventManagement.DataModels.ConferenceDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}

<div id="confHome">
    <section id="Home">
        @{ Html.RenderAction("PartialHome", "Conference", new { obj = Model }); }
    </section>

    <section id="about">
        <div class="about-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-text">
                            <h2 class="header">About @Model.Name</h2>
                            @{
                                string[] stringSeparators = new string[] { "[split]" };
                                var output = Model.Desc.FormatString(stringSeparators);
                                for (var i = 0; i < output.Length; i++)
                                {
                                    <p>
                                        @output[i]
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        @{ Html.RenderAction("PartialTeam", "Conference", new { id = Model.Id }); }
    </section>

    <section id="programSchedule">
        <div class="about-content">
            <div class="container">
                <h2 class="header">Program Schedule</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="col-md-4">
                            <div class="border">
                                <p class="q">Day 1</p>
                                <table class="table-responsive" id="prgschtab">
                                    <tr><td>08:00 &ndash; 09:00</td><td>Registrations</td></tr>
                                    <tr><td>09:00 &ndash; 09:30</td><td>Opening Ceremony</td></tr>
                                    <tr><td>09:30 &ndash; 11:00</td><td>Keynote Sessions</td></tr>
                                    <tr><td>11:00 &ndash; 11:15</td><td>Coffee break</td></tr>
                                    <tr><td>11:15 &ndash; 13:00</td><td>Keynote sessions</td></tr>
                                    <tr><td>13:00 &ndash; 14:00</td><td>Lunch with round table discussion</td></tr>
                                    <tr><td>14:00 &ndash; 15:00</td><td>Plenary sessions</td></tr>
                                    <tr><td>15:00 &ndash; 15:15</td><td>Coffee Break</td></tr>
                                    <tr><td>15:15 &ndash; 17:00</td><td>Plenary sessions</td></tr>
                                    <tr><td>18:00 &ndash; 19:00</td><td>Cocktail party with music</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="border">
                                <p class="q">Day 2</p>
                                <table class="table-responsive" id="prgschtab">
                                    <tr><td>09:00 &ndash; 11:00</td><td>Plenary sessions</td></tr>
                                    <tr><td>11:00 &ndash; 11:15</td><td>Coffee Break</td></tr>
                                    <tr><td>11:15 &ndash; 13:00</td><td>Plenary sessions</td></tr>
                                    <tr><td>13:00 &ndash; 14:00</td><td>Lunch with round table discussion</td></tr>
                                    <tr><td>14:00 &ndash; 15:00</td><td>Plenary sessions</td></tr>
                                    <tr><td>15:00 &ndash; 17:00</td><td>Poster sessions</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="border">
                                <p class="q">Day 3</p>
                                <table class="table-responsive" id="prgschtab">
                                    <tr><td>09:00 &ndash; 11:00</td><td>Plenary sessions</td></tr>
                                    <tr><td>11:00 &ndash; 11:15</td><td>Coffee Break</td></tr>
                                    <tr><td>11:15 &ndash; 13:00</td><td>Plenary sessions</td></tr>
                                    <tr><td>13:00 &ndash; 14:00</td><td>Lunch with round table discussion</td></tr>
                                    <tr><td>14:00 &ndash; 16:00</td><td>Plenary sessions</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="venue">
        @{ Html.RenderAction("PartialVenue", "Conference", new { venue = Model.Venue }); }
    </section>
</div>

<script>
    $(document).ready(function () {
        processScroll();
    });
</script>