@model EventManagement.DataModels.VenueDTO
@*<div id="map">
        <div id="gmap-wrap">
            <div id="gmap">
            </div>
        </div>
    </div>*@
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-text">
                    <h3>About @Model.Name</h3>
                    <p>@Model.Desc</p>
                </div>
            </div>
        </div>
    </div>
</div>  