@model EventManagement.DataModels.VenueDTO

<div class="contact-section">
    <div id="googlemaps" style="overflow: hidden;"></div>
    <div id="contactform">
        <p class="mapsPartBox">
        </p><div class="mapsPartTitle">Address</div>
        <div style="padding-left: 46px;">
            @Model.Address<br />
        </div>
        <div class="contactPhone"><i class="fa fa-phone" aria-hidden="true"> &nbsp;@Model.Telephone</i></div>
        <div class="contactMail"><i class="fa fa-envelope" aria-hidden="true"> &nbsp;@Model.Email</i></div>
        <p></p>
    </div>
    <script>
        var loc = {lat: @Model.Map.Latitude,long: @Model.Map.Longitude}
        google.maps.event.addDomListener(window, 'load', showGoogleMaps(loc));
    </script>
</div>  