@model EventManagement.DataModels.ConferenceDTO
@{
    if (Model.Team.Count() > 0)
    {
        <div id="conferenceTeam">
            <div class="container">

                <div class="row">
                    <div class="col-10">
                        <div id="event-carousel" class="carousel slide" data-interval="false">
                            <h2 class="header white">Our Organising Committe</h2>
                            <div class="carousel-inner">
                                @for (int i = 0; i <= Model.Team.Count() / 4; i++)
                                {
                                    <div class="item @if (i == 0) { <text>active</text>} ">
                                        <div class="row">
                                            @{ var obj = Model.Team.Skip(i * 4).Take(4);}
                                            @foreach (var mem in obj)
                                            {
                                                <div class="col-sm-3">
                                                    <div class="single-event pointer">
                                                        <img class="img-responsive userImg" src="@Url.Content(mem.ImageUrl)" alt="event-image">
                                                        <h4>@mem.Name</h4>
                                                        <h5 class="noTransform">@mem.Info</h5>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.Team.Count() > 4)
                    {
                    <!-- Left and right controls -->
                        <a class="left carousel-control" href="#event-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#event-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                </div>

            </div>
        </div>
                                                }
}