@model IEnumerable<EventManagement.DataModels.TrackDTO>
@{
    ViewBag.Title = "Track";
    Layout = "~/Views/Shared/_ConferenceLayout.cshtml";
}
<div style="padding :300px">
    @{foreach (var track in Model)
        {
            <h2 onclick="loadPartial(@track.Id)">@track.Name</h2>
        }
    }
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function loadPartial(confday) {
        debugger;
        data = @Html.Raw(Json.Encode(Model));
        //'data' is much more complicated in my real application
        var jsonOfLog = JSON.stringify(data);

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "/Conference/PartialAbstractSubmit",
            data: jsonOfLog,
            success: function (returnPayload) {
                console && console.log("request succeeded");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console && console.log("request failed");
            },
        });
    };
</script>
