
<div class="navbar-brand">
    <a href="@Url.Content("~")">
        <img class="img-responsive" src="@Url.Content("~/Content/images/COGNIZANCE SCIENTIFIC LOGO 1.png")" alt="logo">
    </a>
</div>
