@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}
<div style="padding:300px">
    <h2 class="header">Error</h2>
    <p>Sorry for the inconience, we are constantly working and improving.</p>
    <p>Thanks for your patience.</p>
</div>
