<div class="contact-section">
    <div id="googlemaps"></div>
    <div id="contactform">
        <p class="mapsPartBox">
        </p><div class="mapsPartTitle">CONTACT US</div>
        <div class="contactMail"><i class="fa fa-envelope" aria-hidden="true"> &nbsp;<a href="mailto:contact@scientificcognizance.com">contact@scientificcognizance.com</a></i></div>
        <div class="contactPhone"><i class="fa fa-phone" aria-hidden="true"> &nbsp;+441315104271</i></div>
        <div class="contactHome"><i class="fa fa-building-o" aria-hidden="true"> &nbsp;<strong>Cognizance Scientific</strong></i><br></div>
        <div style="padding-left: 46px;">
            27 Old Gloucester Street,<br />
            LONDON,<br />
            WC1N 3AX,<br />
            UNITED KINGDOM
        </div>
        <p></p>
    </div>
    <script>
        var loc = { lat: 51.520910, long: -0.122048 }
        google.maps.event.addDomListener(window, 'load', showGoogleMaps(loc));
    </script>
</div>
