<div class="about-content">
    <div id="homeabout" class="container" style="font-weight:500">
        <h2 class="header">About Us</h2>
        <div style="margin-bottom:25px">
            <p class="txtctr">
                Cognizance Scientific is a conference organizer which is focused on Clinical, Medical, Life Sciences, Engineering and Technology. We are nonprofit organization that promotes latest research, developments and issues in scientific community. It provides a platform to leading academic scientists, researchers and research scholars to exchange and share their experiences and research results about all aspects of Medical and Health Sciences.

            </p>
            <p class="txtctr">
                Cognizance Scientific aims to support research brilliance through networking platform and its mission is to encourage global communication, collaboration, promote professional interaction and lifelong learning; recognize outstanding contributions of individuals and organizations.
                We believe in Inclusiveness and affirmative actions.
            </p>
        </div>
        <div class="col-md-12 col-sm-12" id="outer-container">
            <div class="col-md-4 col-sm-4 border-container">
                <div class="card">
                    <div class="card-inner">
                        <p class="q">
                            Who we are?
                        </p><p class="card-content">
                            We provide a platform to enhance the progress of Medical, Science and Technology globally. Our

                            conferences agenda is to provide an international exposure to speakers, delegates and young

                            researchers through their research work and to enrich Scientific Community.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 border-container">
                <div class="card">
                    <div class="card-inner">
                        <p class="q">
                            What we Do?
                        </p><p class="card-content">
                            Our Conferences are about and for the people, we are building a reputation for generating and

                            delivering inspirational conferences and executing them immaculately first time round. We believe

                            on working hard to achieve the success.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 border-container">
                <div class="card">
                    <div class="card-inner">
                        <p class="q">
                            Why GSC?
                        </p><p class="card-content">
                            GSC conferences are organized globally. Participants will be gaining international exposure, meeting

                            expertise, enhancing skill and exploring new environment. GSC Provides Opportunity for Industry

                            Communities to expand their organization through B2B meetings, Exhibitions, Sponsorship. For the

                            betterment of our future generation scientific community GSC has generated a platform for young

                            researchers to share their work and to enrich their knowledge and skill.
                        </p>
                        @*<a href="#" class="btn btn-primary">View Date & Place <i class="fa fa-angle-right"></i></a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var height = $('#outer-container').height();
        console.log(height);
        $('.border-container').height(height);
    });
</script>
